
html,body{
    height: 100%;
    width: 100%;
}

.background-image{

    height: 100%;
    background: #000000;;
    background: url('../../../../../assets/images/jp.JPG') no-repeat center center;
    background-size: 100%;
    background-size: cover;
    /*background-attachment: fixed;*/
    /*border-bottom: 1px solid black;*/
}
.background-image:before{
    content: '';
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    position: absolute;

}
.background-image .container{
    height: 100%;
}
.background-image .container-fluid{
    padding: 50px 0px
}

.navbar{

    margin: 0px;
    border: none;
    background-color: transparent;
}
.background-image .container .row:nth-child(2){
    height: 100%;

}

.background-image .col-md-12.text-center{
    position: relative;
    top: 20%;
    width: 100%;

}
.background-image .info{
    color: white;
}
.navbar-inverse .navbar-toggle {
    border-color: white;
}
.background-image .col-md-12.text-center a{

    background: #F05F40;
    color: white;
    border: 1px solid #F05F40;
    padding: 10px 20px;
    width: 150px;
    position: relative;
    top: 25px;
    text-decoration: none;
}
.background-image .col-md-12.text-center a:hover{
      background: #c55a43;
  }

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border: none;
}

#experience{
    padding: 60px 0px;
    background: #F2F5F4;

}
#experience .specialty{
    padding-top: 10%;
    margin-bottom: 30px;
}

#experience img{
    height: 80px;
    width: 100%;
}
#experience .fa{
    position: absolute;
    left: -10px;
    z-index: 999;
    top: 1.5em;
    font-size: 1.5em;
    color: #ccc;
    background-color: #F2F5F4;
}
#experience .time{
    display: block;
    width: 8%;
    text-align: center;
    color: #F05F40;
    font-weight: 700;
    font-size: 16px;
}
#experience .work-content .work-company{
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
}
#experience .work-image{ padding-bottom: 10px;padding-right: 15px;}
#experience .work-content .work-position, #experience .work-content .work-date{

    padding-bottom: 5px;
}
#experience .work-content .work-responsibility{

    padding-top: 10px;
}

#experience .work-container{
    position: relative;
    float: left;
    margin-left: 20px;
    padding-left: 30px;
    border-left: 2px solid #ccc;
    width: 100%;
}


#experience .work-content p{
    word-break: break-all;
}

/*#experience .work-year span{*/
    /*padding: 7px;*/
    /*background: black;*/
    /*color: white;*/
    /*font-size: 12px;*/
/*}*/
/*#experience .work-image{padding: 10px 0;}*/
/*#experience .work-image img{height: 120px; width: 100%;}*/
/*#experience .work-position{padding: 10px;color:#000000;}*/
/*#experience .work-position span{*/
    /*padding-right: 10px;*/
/*}*/
/*#experience .work-position h4{*/
    /*display: inline-block;*/
    /*font-weight: 400;*/

/*}*/
#portfolio{
    padding: 40px 0;
    display: block;
}
#portfolio .portfolio-img img{
    height: 300px;
    padding: 0 40px;

}
#portfolio .portfolio-details{
    text-align: left;
    padding: 0 40px;
}
#portfolio .portfolio-details .title{
    font-size: 20px;
    padding-bottom: 5px;
    color: #F05F40;
}
#portfolio .portfolio-details h3{
    margin: 0;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 100;
}

#portfolio .portfolio-details .button-preview a{
    color: white;
    text-decoration: none;
}

.owl-prev, .owl-next{
    position: absolute;
    top: 45%;
}
.owl-prev{left: 0}
.owl-next{right: 0}
.owl-prev img{height: 70px !important;width: 70px !important}

.owl-next img{height: 60px !important;width: 60px !important}

#qoute{
    background-attachment: fixed;
    background-image: url('../../../../assets/images/bg-overlay.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px;

    position: relative;

}
#qoute .img-overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.50);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



@media only screen  and (min-width: 320px){

    .info h1 {
        font-size: 30px;
    }

    .info h2 {
        font-size: 12px;
    }


    #portfolio .portfolio-img img{
        height: 200px;
    }


    .section-title{
        font-size: 20px;
    }

    #about .intro-title, #about h2 {
        font-size: 20px;
    }
    #about .intro-description p {
        font-size: 16px;
    }

    #about .hobbies-interest ul li{
        width: 130px;
    }
    #about .button-cv{text-align: center}

    .background-image .container-fluid {
        padding: 15px 0px;
    }
}

@media only screen and (min-width: 375px){

    #about .intro-title {
        font-size: 20px;
    }
    #about .intro-description p {
        font-size: 16px;
    }

    #about .hobbies-interest ul li{
       width: 160px;
    }
    #about .button-cv{text-align: center}
}

@media only screen and (min-width: 768px){

    .info h1 {
        font-size: 40px;
    }

    .info h2 {
        font-size: 25px;
    }
    #experience .container .row .col-md-6:nth-child(2){
        width: 47%;
        margin-left: 30px;
        border-left: 1px solid black;
        margin-top: 15px;

    }

    #portfolio .portfolio-img img{
        height: 300px;
    }

    /*.affix-top {*/
        /*padding: 40px;*/
    /*}*/
    .affix-top.navbar-inverse .navbar-nav>li>a:focus{
        color: #9c9c9c;
    }
    .affix-top.navbar-inverse .navbar-nav>li>a:hover{
        color: #F05F40;

    }


    #myNavbar{
        /*padding: 0px 80px;*/
        background: transparent;
    }
    .navbar-nav>li>a{
        color: white !important;
    }

    .navbar-nav>li>a:hover, .affix .navbar-nav>li>a:hover{
        color: #F05F40 !important;
    }
    .affix .navbar-nav>li>a{
        font-weight: bold;
        color: #9c9c9c !important;
    }



    #experience .work-image{
        float: left;
        width: 20%;
        /*padding-left: 30px;*/
    }
    #experience .work-info{
        float: left;
        width: 80%;
        /*padding-left: 30px;*/
    }

    .section-title{
        font-size: 30px;
    }

    #about .intro-title {
        font-size: 20px;
    }

    #about .hobbies-interest ul li{
        float: left;
        width: 114px;
    }
    #about .button-cv{
        text-align: left;
    }

    .background-image .container-fluid{
        padding: 50px 0px
    }

    .affix .container-fluid {
        padding: 15px 0px;
    }
}

.section-title{
    padding: 20px 0px;
    border-bottom: 1px solid black;

    margin-bottom: 40px;
}

/*SKILLS*/
#skills{
    padding: 30px 0;
}
#skills ul{
    padding: 0;
    margin: 0;
    display: block;
}

#skills ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 100px;
    background: #F2F5F4;
    margin: 2px 0px;
}
#skills .skill-img{
    height: 100%;

    margin-bottom: 15px;
    text-align: center;
}

#skills .skill-img:before{
    height: 100%;
    background: #F2F5F4;
    margin-bottom: 15px;
}

#skills img{
    height: 100px;
    padding-left: 15px;
    /*width: 80px;*/
    margin: 20px 0;
    transition: all .2s ease-in-out;
}

#skills img:hover{
    transform: scale(1.3);
    cursor: pointer;

}

/*ABOUT*/
#about{
    padding: 50px 0;
    border-bottom: 1px solid #F1EBEB;
}
#about img{
    margin: 20px 0px;
    width: 450px;
}
#about .row:nth-child(2) .col-md-4:nth-child(2){
    text-align: left;
}

#about .about-header h2{
    margin: 20px 0px;
    font-weight: 400;
}
#about p{
    line-height: 1.8em;
}
#about ul{
    padding-left: 15px;
    margin-bottom: 20px;
}

#about .button-preview{
    padding: 10px 20px;
    background: #F05F40;
    width: 150px;
    text-align: center;
    cursor: pointer;
    color: white;
    text-decoration: none;

}

#about .button-preview:hover{
    background: #c55a43;
}

#about .hobbies-interest ul{
    margin: 0;
    padding: 0;
    display: block;
}
#about .hobbies-interest ul li{
    list-style: none;
    text-align: center;
    background: #F2F5F4;
    display: inline-block;
    padding: 20px 34px;

    margin: 4px 3px;

}

#about .fa{
    color: #F05F40;

    transition: all .2s ease-in-out;
    font-size: 3em;
}
#about .fa:hover{
    transform: scale(1.5);
    cursor: pointer;
}

#about .intro-title{
    font-size: 20px;
}

.affix-top .navbar-collapse{

    width: 100%;
    left: 0;
    right: 0;
    background: #F2F5F4;
    border-radius: 0;
    position: absolute;
    z-index: 999;
}

.navbar-inverse .navbar-toggle .icon-bar{
    background-color: white;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
     border-color: white;
}
/*.affix-top .navbar-header{*/
    /*padding: 0 15px;*/
    /*position: relative;*/
    /*top: -15px;*/
    /*margin: 0;*/

/*}*/
/*.affix-top .navbar-collapse{*/
    /*position: relative;*/
    /*top: -15px;*/
    /*background: #F2F5F4;*/
/*}*/
.affix-top  ul.nav.navbar-nav.navbar-right {
    margin-top: 0;
    margin-bottom: 0;
}
.affix {
    top:0;
    width: 100%;
    left: 0;
    z-index: 9999 !important;
    height: 50px;
    background: #F05F40;
    border-radius: 0;
}
.affix .navbar-header{
    padding: 0 15px;
    position: relative;
    top: -15px;
}
.affix .navbar-collapse{
    position: relative;
    top: -15px;
}
.affix ul.nav.navbar-nav.navbar-right {
    margin-top: 0;
    margin-bottom: 0;

}
.affix #myNavbar{
    background: #F2F5F4;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #F05F40 !important;
    background-color: #F2F5F4;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background-color: transparent;
}


.qoute{
    font-size: 18px;
    color: white;
    word-break: break-all;
    width: 99%;
}


#contact{
    padding: 40px 0;
}
#contact .fa{
    padding-right: 5px;
    color: #F05F40;
}
#contact h5{
    display: inline-block;
    font-weight: bold;
    letter-spacing: 1px;
}

#contact p{
    letter-spacing: 1px;
}
#contact .form-control{
    border-radius: 0;
   margin-bottom: 15px;
}

#contact .form-control:focus{
    outline: 0;
    border-color: inherit;
    box-shadow: none;
    -webkit-box-shadow: none;

}
#contact textarea{
    resize: none;
}
#contact .contact-submit{
    background: #F05F40;
    color: white;
    border: 1px solid #F05F40;
    padding: 10px 20px;
    width: 150px;
    margin-left: 15px;
}

#footer{
    padding: 60px 0;
    background: #F7F7F7;
}
#footer i{
    padding-left: 10px;
}
#footer a{
    color: inherit;
}
#footer i:hover{
    color: #F05F40;
}
.scroll-top {
    position: fixed;

    display: none;
    z-index: 999;
    bottom: 20px;
    right: 20px;
}
.scroll-top a {
    display: block;
    font-size: 15px;
    text-align: center;
    background-color: #111111;
    color: #FFFFFF;
    border-radius: 2px;
    padding: 5px 10px;
}
.loader-container{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999;
    background:white ;
}
.loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #F05F40;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
    position: relative;
    top: 50%;
    
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*TIMELINE*/
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}